@model MusicShop.Models.ProductGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<br />

<div class="d-flex justify-content-between">
    <div class="d-flex justify-content-between">
        <form asp-controller="Products" asp-action="Index" method="get">
            <div>
                <select asp-for="ProductGenre" asp-items="Model.Genres">
                    <option value="">All</option>
                </select>
                <select asp-for="ProductPerformer" asp-items="Model.Performers">
                    <option value="">All</option>
                </select>

                <input type="submit" value="Filter" />
            </div>
        </form>

        <div>
            <a asp-action="Index">Add to Cart</a>
        </div>
    </div>
</div>

<br />

<table class="table">
    <colgroup>
        <col width="220">
        <col width="60">
        <col width="120">
        <col width="30">
        <col width="20">
    </colgroup>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products![0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products![0].Performer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products![0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products![0].Quantity)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Performer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
            </tr>
        }
    </tbody>
</table>
